/* JOS Font */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Caveat font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* Root Variables */
:root {
    --beige-: #fff5c6;
    --light-beige: #fff9db;
    --gray-: #383838;
    --black-: #000;
    --white-: #fff;
    --yellow-: #FFCD00;
    --red-: #fe4537;
    --green-: #54e209;
    --border-color: rgba(0, 0, 0, 18%);
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

/* Layout */
.layout {
    height: 100vh;
}

/* Header */
.layout header i {
    color: var(--gray-);
    font-size: 18px;
}

.layout header span {
    font-size: 14px;
    color: var(--gray-);
}

.layout header .active {
    background-color: var(--beige-);
}

/* Sidebar */
.sidebar {
    background-color: var(--white-);
    width: 14vw;
    height: 100vh;
    flex-shrink: 0;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar ul li {
    list-style: none;
    color: var(--gray-);
    padding: 8px 6px;
    font-size: 14px;
}

.sidebar ul li i {
    padding-right: 4px;
}

.sidebar .active {
    background-color: var(--beige-);
    border-radius: 4px;
}

/* Main */
.layout .start,
.income,
.leaderboard,
.tutorial {
    background-color: var(--beige-);
}

.layout main {
    height: 100vh;
    overflow-y: auto;
}

.layout main::-webkit-scrollbar {
    display: none;
}

/* Welcome */
.welcome h1 {
    font-size: 18px;
    margin-bottom: 0rem;
}

.welcome h1 img {
    width: 40px;
    height: auto;
}

.welcome a:first-child {
    height: fit-content;
    background-color: var(--white-);
    border-radius: 20px;
    border: 1px solid var(--border-color);
    padding: 4px 10px;
    font-size: 12px;
}

.welcome a:first-child img {
    width: 10px;
}

.welcome a:last-child {
    height: fit-content;
    background-color: var(--white-);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 0px 6px 0px var(--border-color);
}

.welcome a:last-child img {
    width: 24px;
}

/* Accordian Section */

.accordion-button {
    color: var(--gray-) !important;
    font-weight: 500 !important;
    font-size: 18px;

}

.accordion-button:not(.collapsed) {
    color: var(--gray-) !important;
    background-color: var(--yellow-) !important;
    font-weight: 500;
    font-size: 18px;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    border: 1px solid var(--yellow-) !important;
    margin-bottom: 2px;
}

.banner-info input[type="text"],
textarea {
    border: 2px solid var(--beige-);
    padding: 1px 4px;
    border-radius: 6px;
    outline: none;
    background-color: var(--light-beige);
}

.inser-video {
    border: 2px solid var(--beige-);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px var(--border-color);
    position: relative;
}

.inser-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inser-video button {
    background-color: var(--black-);
    color: var(--white-);
    position: absolute;
    left: 35%;
    top: 50%;
    font-size: 14px;
    padding: 4px 20px;
    border: none;
    border-radius: 6px;

}

/* KYC Section */
.kyc-form {
    border: 1px solid var(--yellow-);
    border-radius: 20px;
    background-color: var(--beige-);
}

.kyc-form h3 {
    color: var(--gray-);
    font-size: 20px;
    margin-bottom: 18px;
}

.kyc-form input[type="text"],
input[type="email"],
input[type="file"] {
    background-color: var(--light-beige);
    border: 1px solid var(--yellow-);
    width: 100%;
    padding: 4px 10px;
    border-radius: 6px;
    outline: none;
}

form button {
    background: var(--yellow-);
    border: 0;
    font-size: 12px;
    padding: 4px;
    width: 100px;
    border-radius: 4px;
}

/* Income Data */

.stat h2 {
    font-size: 26px;
    font-weight: 600;
}

.summary {
    background-color: var(--black-);
    width: 220px;
    height: 220px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary h3 {
    color: var(--yellow-);
    font-size: 26px;
    margin-bottom: 1rem;
    font-weight: 600;
}

.summary p {
    margin-bottom: 0;
    color: var(--yellow-);
    font-size: 12px;
}

.summary span {
    color: var(--white-);
}

.summary h4 {
    color: var(--white-);
    font-weight: 600;
    margin-bottom: 20px;
}

/* Chart Section */
.chart {
    width: 250px;
    height: 220px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}

.chart h4 {
    color: var(--gray-);
    font-weight: 600;
    font-size: 22px;

}

/* Leads Section */
.lead-type {
    border: 1px solid var(--border-color);
    width: fit-content;
    padding: 10px 3px;
    border-radius: 50px;
}

.lead-type span {
    text-align: center;
    padding: 8px 30px;
}

.lead-type .active {
    background-color: var(--yellow-);
    border-radius: 50px;
}

.write {
    width: 100%;
}

/* Links Section */
.links {
    background: url('assets/img/links-banner.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.links form {
    width: 100%;
    border: 2px solid var(--beige-);
    background-color: rgba(255, 245, 198, 0.6);
    border-radius: 10px;
}

.links label {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-);
}

.links input[type="text"],
.links select {
    border: none;
    padding: 3px 4px;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
    box-shadow: 0px 0px 2px 0px var(--yellow-);
}

.links button {
    border-radius: 50px;
}

/* Lead Table */
.lead-table {
    background-color: var(--beige-);
    border-radius: 10px;
}

.lead-table table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

.lead-table table th,
.lead-table table td {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.lead-table table th {
    padding: 8px 0px 14px 0px;
}

.lead-table table td {
    padding: 14px;
}

.lead-table table tbody tr {
    background-color: var(--white-);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px var(--border-color);
}

.lead-table table tbody td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lead-table table tbody td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lead-table table tbody tr {
    margin-bottom: 15px;
}

/* tutorial css */
.tutorial {
    position: relative;
}

.tutorial img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

.tutorial-head h3 {
    margin-bottom: 0rem;
    font-size: 26px;
    font-weight: 700;
    font-family: "Caveat", cursive;
}

.tutorial-head span {
    font-size: 26px !important;
    font-weight: 700;
    margin-left: 6px;
}

.create-course {
    width: 100%;
}

.create-course h2 {
    font-size: 46px;
    font-weight: 700;
    color: var(--yellow-);
}

.create-course .engage {
    color: var(--black-);
    font-family: "Caveat", cursive;
}

.create-course .create {
    color: var(--black-);
}

.info p {
    width: 30%;
    color: var(--gray-);
    margin-bottom: 14px;
}

.info button {
    padding: 4px 10px;
    font-size: 0.6rem;
    background-color: var(--black-);
    color: var(--white-);
    border: 1px solid var(--black-);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px var(--gray-);
}

.how-to {
    background-color: var(--light-beige);
    border-radius: 28px;
    margin-top: 5%;
}

.how-to h3 {
    font-size: 24px;
    font-weight: 700;
}

.how-to p {
    font-size: 16px;
    color: var(--gray-);
}

.how-to video {
    border-radius: 10px;
}

/* Leaderboard */
.timeline h3 {
    font-size: 16px;
    background-color: var(--light-beige);
    height: fit-content;
    padding: 6px 20px;
    border: 0.5px solid var(--yellow-);
    border-radius: 6px;
    box-shadow: 0px 1px 8px 0px var(--border-color);
}

.timeline .lead-type {
    margin-bottom: 0 !important;
}

.top-rank {
    width: 30%;
    background-color: var(--light-beige);
    border-radius: 10px;
    border: 1px solid var(--yellow-);
    box-shadow: 0px 0px 8px 0px var(--border-color);
}

.top-rank p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
}

.top-rank span {
    font-size: 14px;
    text-wrap: nowrap;
}

.earn {
    background-color: var(--black-);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid var(--yellow-);
}

.earn h3 {
    margin-bottom: 0;
    color: var(--yellow-);
    font-weight: 700;
    font-size: 24px;
}

/* Mobile View Ranking  */
.ranking-profile {
    margin-top: 100px;
    position: relative;
}

.rank-one {
    position: absolute;
    top: -50px;
    left: 25%;
}

.rank h3 {
    text-align: center;
    font-weight: 600;
}

.rank .user {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid var(--yellow-);
}

.rank-profile {
    position: relative;
}

.rank .rank-icon {
    position: absolute;
    bottom: -18px;
    left: 42%;
}

.ranks table {
    width: 100%;
    border-radius: 20px;
}

.ranks table th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--black-);
    background-color: var(--yellow-);
}

.ranks table th:first-child {
    border-top-left-radius: 10px;
}

.ranks table th:last-child {
    border-top-right-radius: 10px;
}

.ranks table tbody,
.ranks table td {
    background-color: var(--black-) !important;
    border-radius: 0 !important;
    color: var(--white-);
}

.ranks table td {
    padding-bottom: 6px;
    font-weight: 600px;
}

.ranks table tr:last-child td:first-child {
    border-bottom-left-radius: 10px !important;
}

.ranks table tr:last-child td:last-child {
    border-bottom-right-radius: 10px !important;
}

.ranks table th,
.ranks table td {
    text-align: center;
}

.ri-arrow-drop-down-fill,
.ri-arrow-drop-up-fill {
    border-radius: 50%;
}

.ri-arrow-drop-down-fill {
    background-color: var(--red-);
}

.ri-arrow-drop-up-fill {
    background-color: var(--green-);
}

/* Product  Section */
.filter h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.ri-search-line,
.ri-sound-module-line {
    border: 2px solid var(--beige-);
    padding: 10px;
    border-radius: 30px;
}

.filter select {
    background-color: var(--yellow-);
    border-radius: 50px;
    padding: 6px 12px;
    font-size: 14px;
}

.product {
    border: 1px solid var(--yellow-);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--border-color);
}

.product .product-img {
    width: 200px;
}

.product .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.product-details h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--black-);
}

.product-details p {
    color: var(--gray-);
    font-size: 14px;
}

.author {
    font-size: 14px;
    font-weight: 700;
    color: var(--black-);
}

.ri-star-fill {
    color: var(--yellow-);
}

.product-details h3 {
    font-size: 16px;
    font-weight: 400;
    color: var(--black-);
}

.product-details h3 span {
    font-size: 26px;
    font-weight: 700;
}

.product-details button {
    background-color: var(--yellow-);
    border: none;
    padding: 4px 20px;
    border-radius: 50px;
}

/* Mwdia Query on mobile */

@media only screen and (max-width: 768px) {

    .sidebar {
        position: fixed;
        width: 60vw;
        top: 0;
        left: 0;
        z-index: 20;
    }

    .backdrop {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .info p {
        width: 100%;
    }

    .top-rank {
        width: 100%;
    }

    .product-details h2 {
        font-size: 20px;
    }

    .product-details p {
        font-size: 10px;
    }

    .author {
        font-size: 12px;
    }

    .product-details h3 span {
        font-size: 22px;
    }

    .product-details button {
        padding: 4px 12px;
        font-size: 14px;
        text-wrap: nowrap;
    }

    .search-input {
        width: 80%;
    }
}

/* JOS Font */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Caveat font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* Root Variables */
:root {
    --beige-: #fff5c6;
    --light-beige: #fff9db;
    --gray-: #383838;
    --black-: #000;
    --white-: #fff;
    --yellow-: #FFCD00;
    --red-: #fe4537;
    --green-: #54e209;
    --border-color: rgba(0, 0, 0, 18%);
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

/* Layout */
.layout {
    height: 100vh;
}

/* Header */
.layout header i {
    color: var(--gray-);
    font-size: 18px;
}

.layout header span {
    font-size: 14px;
    color: var(--gray-);
}

.layout header .active {
    background-color: var(--beige-);
}

/* Sidebar */
.sidebar {
    background-color: var(--white-);
    width: 14vw;
    height: 100vh;
    flex-shrink: 0;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar ul li {
    list-style: none;
    color: var(--gray-);
    padding: 8px 6px;
    font-size: 14px;
}

.sidebar ul li i {
    padding-right: 4px;
}

.sidebar .active {
    background-color: var(--beige-);
    border-radius: 4px;
}

/* Main */
.layout .start,
.income,
.leaderboard,
.tutorial {
    background-color: var(--beige-);
}

.layout main {
    height: 100vh;
    overflow-y: auto;
}

.layout main::-webkit-scrollbar {
    display: none;
}

/* Welcome */
.welcome h1 {
    font-size: 18px;
    margin-bottom: 0rem;
}

.welcome h1 img {
    width: 40px;
    height: auto;
}

.welcome a:first-child {
    height: fit-content;
    background-color: var(--white-);
    border-radius: 20px;
    border: 1px solid var(--border-color);
    padding: 4px 10px;
    font-size: 12px;
}

.welcome a:first-child img {
    width: 10px;
}

.welcome a:last-child {
    height: fit-content;
    background-color: var(--white-);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 0px 6px 0px var(--border-color);
}

.welcome a:last-child img {
    width: 24px;
}

/* Accordian Section */

.accordion-button {
    color: var(--gray-) !important;
    font-weight: 500 !important;
    font-size: 18px;

}

.accordion-button:not(.collapsed) {
    color: var(--gray-) !important;
    background-color: var(--yellow-) !important;
    font-weight: 500;
    font-size: 18px;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    border: 1px solid var(--yellow-) !important;
    margin-bottom: 2px;
}

.banner-info input[type="text"],
textarea {
    border: 2px solid var(--beige-);
    padding: 1px 4px;
    border-radius: 6px;
    outline: none;
    background-color: var(--light-beige);
}

.inser-video {
    border: 2px solid var(--beige-);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px var(--border-color);
    position: relative;
}

.inser-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inser-video button {
    background-color: var(--black-);
    color: var(--white-);
    position: absolute;
    left: 35%;
    top: 50%;
    font-size: 14px;
    padding: 4px 20px;
    border: none;
    border-radius: 6px;

}

/* KYC Section */
.kyc-form {
    border: 1px solid var(--yellow-);
    border-radius: 20px;
    background-color: var(--beige-);
}

.kyc-form h3 {
    color: var(--gray-);
    font-size: 20px;
    margin-bottom: 18px;
}

.kyc-form input[type="text"],
input[type="email"],
input[type="file"] {
    background-color: var(--light-beige);
    border: 1px solid var(--yellow-);
    width: 100%;
    padding: 4px 10px;
    border-radius: 6px;
    outline: none;
}

form button {
    background: var(--yellow-);
    border: 0;
    font-size: 12px;
    padding: 4px;
    width: 100px;
    border-radius: 4px;
}

/* Income Data */

.stat h2 {
    font-size: 26px;
    font-weight: 600;
}

.summary {
    background-color: var(--black-);
    width: 220px;
    height: 220px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary h3 {
    color: var(--yellow-);
    font-size: 26px;
    margin-bottom: 1rem;
    font-weight: 600;
}

.summary p {
    margin-bottom: 0;
    color: var(--yellow-);
    font-size: 12px;
}

.summary span {
    color: var(--white-);
}

.summary h4 {
    color: var(--white-);
    font-weight: 600;
    margin-bottom: 20px;
}

/* Chart Section */
.chart {
    width: 250px;
    height: 220px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}


/* Leads Section */
.lead-type {
    border: 1px solid var(--border-color);
    width: fit-content;
    padding: 10px 3px;
    border-radius: 50px;
}

.lead-type span {
    text-align: center;
    padding: 8px 30px;
}

.lead-type .active {
    background-color: var(--yellow-);
    border-radius: 50px;
}

.write {
    width: 100%;
}

/* Links Section */
.links {
    background: url('assets/img/links-banner.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.links form {
    width: 100%;
    border: 2px solid var(--beige-);
    background-color: rgba(255, 245, 198, 0.6);
    border-radius: 10px;
}

.links label {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-);
}

.links input[type="text"],
.links select {
    border: none;
    padding: 3px 4px;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
    box-shadow: 0px 0px 2px 0px var(--yellow-);
}

.links button {
    border-radius: 50px;
}

/* Lead Table */
.lead-table {
    background-color: var(--beige-);
    border-radius: 10px;
}

.lead-table table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

.lead-table table th,
.lead-table table td {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.lead-table table th {
    padding: 8px 0px 14px 0px;
}

.lead-table table td {
    padding: 14px;
}

.lead-table table tbody tr {
    background-color: var(--white-);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px var(--border-color);
}

.lead-table table tbody td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lead-table table tbody td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lead-table table tbody tr {
    margin-bottom: 15px;
}

/* tutorial css */
.tutorial {
    position: relative;
}

.tutorial img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

.tutorial-head h3 {
    margin-bottom: 0rem;
    font-size: 26px;
    font-weight: 700;
    font-family: "Caveat", cursive;
}

.tutorial-head span {
    font-size: 26px !important;
    font-weight: 700;
    margin-left: 6px;
}

.create-course {
    width: 100%;
}

.create-course h2 {
    font-size: 46px;
    font-weight: 700;
    color: var(--yellow-);
}

.create-course .engage {
    color: var(--black-);
    font-family: "Caveat", cursive;
}

.create-course .create {
    color: var(--black-);
}

.info p {
    width: 30%;
    color: var(--gray-);
    margin-bottom: 14px;
}

.info button {
    padding: 4px 10px;
    font-size: 0.6rem;
    background-color: var(--black-);
    color: var(--white-);
    border: 1px solid var(--black-);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px var(--gray-);
}

.how-to {
    background-color: var(--light-beige);
    border-radius: 28px;
    margin-top: 5%;
}

.how-to h3 {
    font-size: 24px;
    font-weight: 700;
}

.how-to p {
    font-size: 16px;
    color: var(--gray-);
}

.how-to video {
    border-radius: 10px;
}

/* Leaderboard */
.timeline h3 {
    font-size: 16px;
    background-color: var(--light-beige);
    height: fit-content;
    padding: 6px 20px;
    border: 0.5px solid var(--yellow-);
    border-radius: 6px;
    box-shadow: 0px 1px 8px 0px var(--border-color);
}

.timeline .lead-type {
    margin-bottom: 0 !important;
}

.top-rank {
    width: 30%;
    background-color: var(--light-beige);
    border-radius: 10px;
    border: 1px solid var(--yellow-);
    box-shadow: 0px 0px 8px 0px var(--border-color);
}

.top-rank p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
}

.top-rank span {
    font-size: 14px;
    text-wrap: nowrap;
}

.earn {
    background-color: var(--black-);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid var(--yellow-);
}

.earn h3 {
    margin-bottom: 0;
    color: var(--yellow-);
    font-weight: 700;
    font-size: 24px;
}

/* Mobile View Ranking  */
.ranking-profile {
    margin-top: 100px;
    position: relative;
}

.rank-one {
    position: absolute;
    top: -50px;
    left: 25%;
}

.rank h3 {
    text-align: center;
    font-weight: 600;
}

.rank .user {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid var(--yellow-);
}

.rank-profile {
    position: relative;
}

.rank .rank-icon {
    position: absolute;
    bottom: -18px;
    left: 42%;
}

.ranks table {
    width: 100%;
    border-radius: 20px;
}

.ranks table th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--black-);
    background-color: var(--yellow-);
}

.ranks table th:first-child {
    border-top-left-radius: 10px;
}

.ranks table th:last-child {
    border-top-right-radius: 10px;
}

.ranks table tbody,
.ranks table td {
    background-color: var(--black-) !important;
    border-radius: 0 !important;
    color: var(--white-);
}

.ranks table td {
    padding-bottom: 6px;
    font-weight: 600px;
}

.ranks table tr:last-child td:first-child {
    border-bottom-left-radius: 10px !important;
}

.ranks table tr:last-child td:last-child {
    border-bottom-right-radius: 10px !important;
}

.ranks table th,
.ranks table td {
    text-align: center;
}

.ri-arrow-drop-down-fill,
.ri-arrow-drop-up-fill {
    border-radius: 50%;
}

.ri-arrow-drop-down-fill {
    background-color: var(--red-);
}

.ri-arrow-drop-up-fill {
    background-color: var(--green-);
}

/* Product  Section */
.filter h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.ri-search-line,
.ri-sound-module-line {
    border: 2px solid var(--beige-);
    padding: 10px;
    border-radius: 30px;
}

.filter select {
    background-color: var(--yellow-);
    border-radius: 50px;
    padding: 6px 12px;
    font-size: 14px;
}

.product {
    border: 1px solid var(--yellow-);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--border-color);
}

.product .product-img {
    width: 200px;
}

.product .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.product-details h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--black-);
}

.product-details p {
    color: var(--gray-);
    font-size: 14px;
}

.author {
    font-size: 14px;
    font-weight: 700;
    color: var(--black-);
}

.ri-star-fill {
    color: var(--yellow-);
}

.product-details h3 {
    font-size: 16px;
    font-weight: 400;
    color: var(--black-);
}

.product-details h3 span {
    font-size: 26px;
    font-weight: 700;
}

.product-details button {
    background-color: var(--yellow-);
    border: none;
    padding: 4px 20px;
    border-radius: 50px;
}

/* Offers Page */

.search-offers select {
    border: none !important;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

.search-input {
    border: 1px solid var(--yellow-);
    padding: 0px 16px;
    border-radius: 50px;
    width: 40%;
}

.search-input input[type="text"] {
    font-size: 18px;
    outline: none;
    border: none;
}

.coupon {
    width: 100%;
    background-color: var(--black-);
    box-shadow: 0px 0px 6px 0px var(--border-color);
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.coupon h3 {
    color: var(--white-);
    font-size: 20px;
    font-weight: 800;
    text-wrap: nowrap;
}

.coupon h4 {
    color: var(--yellow-);
    font-weight: 900;
}

.mid-line p {
    height: 100%;
    border-radius: 50px;
    border: 2px dashed var(--yellow-);
    margin-bottom: 0rem;
}

.coupon .seperate {
    background-color: var(--white-);
    height: 2px;
    width: 130px;
    border-radius: 50px;
}

.coupon p {
    color: var(--white-);
    font-size: 26px;
    margin-bottom: 0rem;
}

.coupon h5 {
    color: var(--white-);
    font-size: 16px;
    text-wrap: nowrap;
}

.coupon span {
    color: var(--yellow-);
    text-wrap: nowrap;
    font-size: 12px;
}

.validity {
    transform: rotate(270deg);
}

.curve-first,
.curve-second {
    background-color: var(--white-);
    width: 80px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
}

.curve-first {
    top: 30%;
    left: -12%;
}

.curve-second {
    top: 30%;
    right: -12%;
}


.search-input .ri-search-line {
    border: none;
}


/* Total Sales */
.total-sales-card {
    background-color: var(--black-);
    border-radius: 10px;
}

.total-sales-card h2 {
    color: var(--yellow-);
    font-size: 22px;
    font-weight: 700;
}

.total-sales-card p {
    color: var(--white-);
    font-size: 28px;
    font-weight: 600;
}

.total-sales-card h3{
    color: var(--white-);
    font-size: 14px;
    font-weight: 700;
}

.total-sales-card .text-center p{
    color: var(--yellow-);
    font-size: 18px;
}

.sales-breakdown-card{
    background-color: var(--black-);
    border-radius: 10px !important;
    width: 40%;
    height: fit-content;
}

.sales-breakdown-card h2{
    color: var(--yellow-);
    font-size: 22px;
    font-weight: 700;
}

.sales-breakdown-card ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.product-card{
    border-radius: 20px;
    background-color: var(--beige-);
    box-shadow: 0px 0px 4px 0px var(--border-color);
}

.product-card h2{
    font-size: 20px;
    font-weight: 700;
}

.product-card p, .course p{
    font-size: 14px;
    margin-bottom: 0;
}

.product-card h3, .course h3{
    font-size: 14px;
}

.product-card h3 span, .course h3 span{
    font-weight: 600;
}

.product-card a{
    font-size: 12px;
    background-color: var(--yellow-);
    padding: 4px 24px;
    border-radius: 6px;
}

.product-card img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* recommended courses  */

.course{
    border-radius: 27px;
    border: 1px solid var(--black-);
}

.course img{
    width: 100%;
}

.course h2{
    font-size: 22px;
    font-weight: 700;
}

.price p img{
    width: 30px;
    height: 30px;
}

.price p span{
    font-size: 16px;
    text-decoration: line-through;
}

.price p span:last-child{
    text-decoration: none;
    font-weight: 600 !important;
    font-size: 28px !important;
}

.course button{
    font-size: 12px;
    padding: 6px;
    width: 100%;
    background-color: var(--black-);
    border: none;
}

.course button:first-child{
    color: var(--white-);
    border-bottom-left-radius: 50px;
}

.course button:last-child{
    color: var(--yellow-);
    border-bottom-right-radius: 50px;
}



/* Mwdia Query on mobile */
@media only screen and (max-width: 768px) {

    .sidebar {
        position: fixed;
        width: 60vw;
        top: 0;
        left: 0;
        z-index: 20;
    }

    .backdrop {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .info p {
        width: 100%;
    }

    .top-rank {
        width: 100%;
    }

    .product-details h2 {
        font-size: 20px;
    }

    .product-details p {
        font-size: 10px;
    }

    .author {
        font-size: 12px;
    }

    .product-details h3 span {
        font-size: 22px;
    }

    .product-details button {
        padding: 4px 12px;
        font-size: 14px;
        text-wrap: nowrap;
    }

    .search-input {
        width: 80%;
    }

    .sales-breakdown-card{
        width: 100%;
    }

    .course{
        border-radius: 37px;
    }
}


/* JOS Font */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Caveat font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* Root Variables */
:root {
    --beige-: #fff5c6;
    --light-beige: #fff9db;
    --gray-: #383838;
    --black-: #000;
    --white-: #fff;
    --yellow-: #FFCD00;
    --red-: #fe4537;
    --green-: #54e209;
    --border-color: rgba(0, 0, 0, 18%);
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

/* Layout */
.layout {
    height: 100vh;
}

/* Header */
.layout header i {
    color: var(--gray-);
    font-size: 18px;
}

.layout header span {
    font-size: 14px;
    color: var(--gray-);
}

.layout header .active {
    background-color: var(--beige-);
}

/* Sidebar */
.sidebar {
    background-color: var(--white-);
    width: 14vw;
    height: 100vh;
    flex-shrink: 0;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar ul li {
    list-style: none;
    color: var(--gray-);
    padding: 8px 6px;
    font-size: 14px;
}

.sidebar ul li i {
    padding-right: 4px;
}

.sidebar .active {
    background-color: var(--beige-);
    border-radius: 4px;
}

/* Main */
.layout .start,
.income,
.leaderboard,
.tutorial {
    background-color: var(--beige-);
}

.layout main {
    height: 100vh;
    overflow-y: auto;
}

.layout main::-webkit-scrollbar {
    display: none;
}

/* Welcome */
.welcome h1 {
    font-size: 18px;
    margin-bottom: 0rem;
}

.welcome h1 img {
    width: 40px;
    height: auto;
}

.welcome a:first-child {
    height: fit-content;
    background-color: var(--white-);
    border-radius: 20px;
    border: 1px solid var(--border-color);
    padding: 4px 10px;
    font-size: 12px;
}

.welcome a:first-child img {
    width: 10px;
}

.welcome a:last-child {
    height: fit-content;
    background-color: var(--white-);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 0px 6px 0px var(--border-color);
}

.welcome a:last-child img {
    width: 24px;
}

/* Accordian Section */

.accordion-button {
    color: var(--gray-) !important;
    font-weight: 500 !important;
    font-size: 18px;

}

.accordion-button:not(.collapsed) {
    color: var(--gray-) !important;
    background-color: var(--yellow-) !important;
    font-weight: 500;
    font-size: 18px;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    border: 1px solid var(--yellow-) !important;
    margin-bottom: 2px;
}

.banner-info input[type="text"],
textarea {
    border: 2px solid var(--beige-);
    padding: 1px 4px;
    border-radius: 6px;
    outline: none;
    background-color: var(--light-beige);
}

.inser-video {
    border: 2px solid var(--beige-);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px var(--border-color);
    position: relative;
}

.inser-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inser-video button {
    background-color: var(--black-);
    color: var(--white-);
    position: absolute;
    left: 35%;
    top: 50%;
    font-size: 14px;
    padding: 4px 20px;
    border: none;
    border-radius: 6px;

}

/* KYC Section */
.kyc-form {
    border: 1px solid var(--yellow-);
    border-radius: 20px;
    background-color: var(--beige-);
}

.kyc-form h3 {
    color: var(--gray-);
    font-size: 20px;
    margin-bottom: 18px;
}

.kyc-form input[type="text"],
input[type="email"],
input[type="file"] {
    background-color: var(--light-beige);
    border: 1px solid var(--yellow-);
    width: 100%;
    padding: 4px 10px;
    border-radius: 6px;
    outline: none;
}

form button {
    background: var(--yellow-);
    border: 0;
    font-size: 12px;
    padding: 4px;
    width: 100px;
    border-radius: 4px;
}

/* Income Data */

.stat h2 {
    font-size: 26px;
    font-weight: 600;
}

.summary {
    background-color: var(--black-);
    width: 220px;
    height: 220px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary h3 {
    color: var(--yellow-);
    font-size: 26px;
    margin-bottom: 1rem;
    font-weight: 600;
}

.summary p {
    margin-bottom: 0;
    color: var(--yellow-);
    font-size: 12px;
}

.summary span {
    color: var(--white-);
}

.summary h4 {
    color: var(--white-);
    font-weight: 600;
    margin-bottom: 20px;
}

/* Chart Section */
.chart {
    width: 250px;
    height: 220px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}


/* Leads Section */
.lead-type {
    border: 1px solid var(--border-color);
    width: fit-content;
    padding: 10px 3px;
    border-radius: 50px;
}

.lead-type span {
    text-align: center;
    padding: 8px 30px;
}

.lead-type .active {
    background-color: var(--yellow-);
    border-radius: 50px;
}

.write {
    width: 100%;
}

/* Links Section */
.links {
    background: url('assets/img/links-banner.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.links form {
    width: 100%;
    border: 2px solid var(--beige-);
    background-color: rgba(255, 245, 198, 0.6);
    border-radius: 10px;
}

.links label {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-);
}

.links input[type="text"],
.links select {
    border: none;
    padding: 3px 4px;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
    box-shadow: 0px 0px 2px 0px var(--yellow-);
}

.links button {
    border-radius: 50px;
}

/* Lead Table */
.lead-table {
    background-color: var(--beige-);
    border-radius: 10px;
}

.lead-table table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

.lead-table table th,
.lead-table table td {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.lead-table table th {
    padding: 8px 0px 14px 0px;
}

.lead-table table td {
    padding: 14px;
}

.lead-table table tbody tr {
    background-color: var(--white-);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px var(--border-color);
}

.lead-table table tbody td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lead-table table tbody td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lead-table table tbody tr {
    margin-bottom: 15px;
}

/* tutorial css */
.tutorial {
    position: relative;
}

.tutorial img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

.tutorial-head h3 {
    margin-bottom: 0rem;
    font-size: 26px;
    font-weight: 700;
    font-family: "Caveat", cursive;
}

.tutorial-head span {
    font-size: 26px !important;
    font-weight: 700;
    margin-left: 6px;
}

.create-course {
    width: 100%;
}

.create-course h2 {
    font-size: 46px;
    font-weight: 700;
    color: var(--yellow-);
}

.create-course .engage {
    color: var(--black-);
    font-family: "Caveat", cursive;
}

.create-course .create {
    color: var(--black-);
}

.info p {
    width: 30%;
    color: var(--gray-);
    margin-bottom: 14px;
}

.info button {
    padding: 4px 10px;
    font-size: 0.6rem;
    background-color: var(--black-);
    color: var(--white-);
    border: 1px solid var(--black-);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px var(--gray-);
}

.how-to {
    background-color: var(--light-beige);
    border-radius: 28px;
    margin-top: 5%;
}

.how-to h3 {
    font-size: 24px;
    font-weight: 700;
}

.how-to p {
    font-size: 16px;
    color: var(--gray-);
}

.how-to video {
    border-radius: 10px;
}

/* Leaderboard */
.timeline h3 {
    font-size: 16px;
    background-color: var(--light-beige);
    height: fit-content;
    padding: 6px 20px;
    border: 0.5px solid var(--yellow-);
    border-radius: 6px;
    box-shadow: 0px 1px 8px 0px var(--border-color);
}

.timeline .lead-type {
    margin-bottom: 0 !important;
}

.top-rank {
    width: 35%;
    background-color: var(--light-beige);
    border-radius: 10px;
    border: 1px solid var(--yellow-);
    box-shadow: 0px 0px 8px 0px var(--border-color);
}

.top-rank p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
}

.top-rank span {
    font-size: 14px;
    text-wrap: nowrap;
}

.earn {
    background-color: var(--black-);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid var(--yellow-);
}

.earn h3 {
    margin-bottom: 0;
    color: var(--yellow-);
    font-weight: 700;
    font-size: 24px;
}

/* Mobile View Ranking  */
.ranking-profile {
    margin-top: 100px;
    position: relative;
}

.rank-one {
    position: absolute;
    top: -50px;
    left: 25%;
}

.rank h3 {
    text-align: center;
    font-weight: 600;
}

.rank .user {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid var(--yellow-);
}

.rank-profile {
    position: relative;
}

.rank .rank-icon {
    position: absolute;
    bottom: -18px;
    left: 42%;
}

.ranks table {
    width: 100%;
    border-radius: 20px;
}

.ranks table th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--black-);
    background-color: var(--yellow-);
}

.ranks table th:first-child {
    border-top-left-radius: 10px;
}

.ranks table th:last-child {
    border-top-right-radius: 10px;
}

.ranks table tbody,
.ranks table td {
    background-color: var(--black-) !important;
    border-radius: 0 !important;
    color: var(--white-);
}

.ranks table td {
    padding-bottom: 6px;
    font-weight: 600px;
}

.ranks table tr:last-child td:first-child {
    border-bottom-left-radius: 10px !important;
}

.ranks table tr:last-child td:last-child {
    border-bottom-right-radius: 10px !important;
}

.ranks table th,
.ranks table td {
    text-align: center;
}

.ri-arrow-drop-down-fill,
.ri-arrow-drop-up-fill {
    border-radius: 50%;
}

.ri-arrow-drop-down-fill {
    background-color: var(--red-);
}

.ri-arrow-drop-up-fill {
    background-color: var(--green-);
}

/* Product  Section */
.filter h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.ri-search-line,
.ri-sound-module-line {
    border: 2px solid var(--beige-);
    padding: 10px;
    border-radius: 30px;
}

.filter select {
    background-color: var(--yellow-);
    border-radius: 50px;
    padding: 6px 12px;
    font-size: 14px;
}

.product {
    border: 1px solid var(--yellow-);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--border-color);
}

.product .product-img {
    width: 200px;
}

.product .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.product-details h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--black-);
}

.product-details p {
    color: var(--gray-);
    font-size: 14px;
}

.author {
    font-size: 14px;
    font-weight: 700;
    color: var(--black-);
}

.ri-star-fill {
    color: var(--yellow-);
}

.product-details h3 {
    font-size: 16px;
    font-weight: 400;
    color: var(--black-);
}

.product-details h3 span {
    font-size: 26px;
    font-weight: 700;
}

.product-details button {
    background-color: var(--yellow-);
    border: none;
    padding: 4px 20px;
    border-radius: 50px;
}

/* Offers Page */

.search-offers select {
    border: none !important;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

.search-input {
    border: 1px solid var(--yellow-);
    padding: 0px 16px;
    border-radius: 50px;
    width: 40%;
}

.search-input input[type="text"] {
    font-size: 18px;
    outline: none;
    border: none;
}

.coupon {
    width: 100%;
    background-color: var(--black-);
    box-shadow: 0px 0px 6px 0px var(--border-color);
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.coupon h3 {
    color: var(--white-);
    font-size: 20px;
    font-weight: 800;
    text-wrap: nowrap;
}

.coupon h4 {
    color: var(--yellow-);
    font-weight: 900;
}

.mid-line p {
    height: 100%;
    border-radius: 50px;
    border: 2px dashed var(--yellow-);
    margin-bottom: 0rem;
}

.coupon .seperate {
    background-color: var(--white-);
    height: 2px;
    width: 130px;
    border-radius: 50px;
}

.coupon p {
    color: var(--white-);
    font-size: 26px;
    margin-bottom: 0rem;
}

.coupon h5 {
    color: var(--white-);
    font-size: 16px;
    text-wrap: nowrap;
}

.coupon span {
    color: var(--yellow-);
    text-wrap: nowrap;
    font-size: 12px;
}

.validity {
    transform: rotate(270deg);
}

.curve-first,
.curve-second {
    background-color: var(--white-);
    width: 80px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
}

.curve-first {
    top: 30%;
    left: -12%;
}

.curve-second {
    top: 30%;
    right: -12%;
}


.search-input .ri-search-line {
    border: none;
}


/* Total Sales */
.total-sales-card {
    background-color: var(--black-);
    border-radius: 10px;
}

.total-sales-card h2 {
    color: var(--yellow-);
    font-size: 22px;
    font-weight: 700;
}

.total-sales-card p {
    color: var(--white-);
    font-size: 28px;
    font-weight: 600;
}

.total-sales-card h3 {
    color: var(--white-);
    font-size: 14px;
    font-weight: 700;
}

.total-sales-card .text-center p {
    color: var(--yellow-);
    font-size: 18px;
}

.sales-breakdown-card {
    background-color: var(--black-);
    border-radius: 10px !important;
    width: 40%;
    height: fit-content;
}

.sales-breakdown-card h2 {
    color: var(--yellow-);
    font-size: 22px;
    font-weight: 700;
}

.sales-breakdown-card ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.product-card {
    border-radius: 20px;
    background-color: var(--beige-);
    box-shadow: 0px 0px 4px 0px var(--border-color);
}

.product-card h2 {
    font-size: 20px;
    font-weight: 700;
}

.product-card p,
.course p {
    font-size: 14px;
    margin-bottom: 0;
}

.product-card h3,
.course h3 {
    font-size: 14px;
}

.product-card h3 span,
.course h3 span {
    font-weight: 600;
}

.product-card a {
    font-size: 12px;
    background-color: var(--yellow-);
    padding: 4px 24px;
    border-radius: 6px;
}

.product-card img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* recommended courses  */

.course {
    border-radius: 27px;
    border: 1px solid var(--black-);
}

.course img {
    width: 100%;
}

.course h2 {
    font-size: 22px;
    font-weight: 700;
}

.price p img {
    width: 30px;
    height: 30px;
}

.price p span {
    font-size: 16px;
    text-decoration: line-through;
}

.price p span:last-child {
    text-decoration: none;
    font-weight: 600 !important;
    font-size: 28px !important;
}

.course button {
    font-size: 12px;
    padding: 6px;
    width: 100%;
    background-color: var(--black-);
    border: none;
}

.course button:first-child {
    color: var(--white-);
    border-bottom-left-radius: 50px;
}

.course button:last-child {
    color: var(--yellow-);
    border-bottom-right-radius: 50px;
}

/* Promote Section */
.create-btn {
    background-color: var(--black-);
    color: var(--white-);
    padding: 6px 20px;
    border-radius: 4px;
}

.promotion {
    border: 1px solid var(--black-);
    background-color: var(--beige-);
    box-shadow: -8px 8px var(--yellow-);
    width: 75%;
    border-radius: 10px;
}

.promotion h2 {
    font-size: 24px;
}

.promotion p {
    font-size: 14px;
    margin-bottom: 0;
}

.promotion span {
    color: var(--black-);
    font-size: 14px;
}

.promotion input[type="date"] {
    background: none;
    border: none;
}

.promotion input[type="date"]::-webkit-inner-spin-button,
.promotion input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.promotion a {
    font-size: 14px;
    background-color: var(--black-);
    color: var(--white-) !important;
    padding: 8px 20px;
    border-radius: 4px;
}

.promotion .note {
    color: #FF0000;
}

.recording {
    border-radius: 14px !important;
    font-weight: 600;
    width: fit-content;
}

.recording span {
    color: var(--white-);
    width: fit-content;
}

/* Schedule Webinar page */
.form-section {
    width: 75%;
}

.form-section h2 {
    font-size: 26px;
}

.form-section form {
    border: 1px solid var(--black-);
    border-radius: 10px;
    box-shadow: -8px 8px var(--yellow-);
}

.form-section form label {
    font-size: 16px;
    font-weight: 500;
    text-wrap:  nowrap;
}

.form-section form select, .form-section form input[type="text"], .form-section form textarea, input[type="date"]{
    width: 60%;
    border: 1px solid var(--yellow-);
    border-radius: 5px;
    padding: 6px;
    background-color: var(--light-beige);
    outline: none;
}

.form-section form input[type="date"]{
    width: fit-content !important;
}

.form-section .cancel{
    border: 1px solid var(--black-);
    background-color: transparent !important;
}

.form-section button{
    border-radius: 8px;
}

.note {
    font-size: 14px;
    color: #FF0000;
}

/* Mwdia Query on mobile */
@media only screen and (max-width: 768px) {

    .sidebar {
        position: fixed;
        width: 60vw;
        top: 0;
        left: 0;
        z-index: 20;
    }

    .backdrop {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .info p {
        width: 100%;
    }

    .top-rank {
        width: 100%;
    }

    .product-details h2 {
        font-size: 20px;
    }

    .product-details p {
        font-size: 10px;
    }

    .author {
        font-size: 12px;
    }

    .product-details h3 span {
        font-size: 22px;
    }

    .product-details button {
        padding: 4px 12px;
        font-size: 14px;
        text-wrap: nowrap;
    }

    .search-input {
        width: 80%;
    }

    .sales-breakdown-card {
        width: 100%;
    }

    .course {
        border-radius: 37px;
    }

    .promotion {
        width: 100%;
    }

    .promotion h2 {
        font-size: 18px;
    }

    .form-section{
        width: 100%;
    }

    .form-section form select, .form-section form input[type="text"], .form-section form textarea, input[type="date"]{
        width: 100%;
    }    
}

.electro {
    color: rgba(255, 205, 0, 1);
}

.clo {
    color: rgba(255, 255, 255, 1);
}

.foo {
    color: rgba(8, 0, 102, 1);
}

.boo {
    color: rgba(255, 119, 0, 1);
}

.oth {
    color: rgba(144, 44, 62, 1);
}

.chart-data {
    color: var(--white-);
}