<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Website Menu -->
    <template id="partner_side_menu" inherit_id="custom_web_kreator.side_menu" priority="30">
        <xpath expr="//li[hasclass('o-cust-community-menu')]/a" position="attributes">
            <attribute name="href">/forumsection-company</attribute>
        </xpath>
        <xpath expr="//li[hasclass('o-cust-community-menu')]/ul/li/a[1]" position="attributes">
            <attribute name="href">/forumsection-company</attribute>
        </xpath>
        <xpath expr="//li[hasclass('o-cust-community-menu')]/ul/li/a[2]" position="attributes">
            <attribute name="href">/forumsection-creator</attribute>
        </xpath>
        <xpath expr="//li[hasclass('o-cust-community-menu')]/ul/li/a[3]" position="attributes">
            <attribute name="href">/forumsection-partner</attribute>
        </xpath>
    </template>

    <template id="customer_side_menu" inherit_id="custom_web_kreator.customer_side_menu" priority="30">
        <xpath expr="//li[hasclass('o-customer-community-menu')]/a" position="attributes">
            <attribute name="href">forumsection-customer</attribute>
        </xpath>
    </template>
    
    <!-- Add Commission Menu under Default Configuration -->
    <menuitem
        id="menu_social_medial_main"
        name="Social"
        web_icon="social,static/src/img/icon.png"
        sequence="105"
        groups="base.group_user" />

        <menuitem
        id="menu_social_post_submain"
        parent="menu_social_medial_main"
        name="Post"
        sequence="1"
        groups="base.group_user" 
        action="action_apg_social_post"/>
</odoo>
