$kreator-black: #161616;
$kreator-yellow-900: #FFCD00;
$kreator-yellow-300: #FFF5C6;
$k-orange: #F70;;
$k-pinkish-orange: #F55;;
$theme-colors: (
    "kreator-yellow-900": $kreator-yellow-900,
    "kreator-yellow-300": $kreator-yellow-300,
    "kreator-black": $kreator-black,
    "k-orange": $k-orange,
    "k-pinkish-orange": $k-pinkish-orange,
);
