$kreator-black: #161616;
$kreator-yellow-900: #FFCD00;
$kreator-yellow-300: #FFF5C6;
$font-family-base: "Futura", normal;
$theme-colors: (
    "kreator-yellow-900": $kreator-yellow-900,
    "kreator-yellow-300": $kreator-yellow-300,
    "kreator-black": $kreator-black,
);